cookbooks/tomcat/.vagrant/machines/default/virtualbox/id
cookbooks/tomcat/.vagrant/machines/default/virtualbox/action_set_name
cookbooks/tomcat/.vagrant/machines/default/virtualbox/action_provision
cookbooks/tomcat/.vagrant/machines/default/berkshelf